/* Normalize */
@import url(normalize.css);

svg,
img {
    display: block;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: initial;
    text-decoration: none;
}
/* fin Normalize */

/* Clases genéricas */
.mw1040 {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

.fx-h-c-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.a-hov:hover {
    color: rgb(0, 10, 145);
}

/* Card con transparencia */
.card-hov {
    padding: 10px;
}

.card-hov>a {
    display: block;
    position: relative;

}

.card-hov>a>div {
    position: relative;
}

.card-hov>a>div>img {
    border-radius: 5px;
}

.card-hov>a>h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 2px;
    width: fit-content;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card-hov>a>div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(13, 13, 13, 0.7), rgba(0, 0, 0, 0));
    transition: opacity 0.3s ease;
}

.card-hov>a:hover>div::after {
    opacity: 0;
}
/* fin Card con transparencia */
/* fin Clases genéricas */

/* header */
header {
    /* background-image: url(../img/fondo1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat; */
    background-color: rgb(233, 221, 236);
}

/* fin header */

/* #title-bar {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    align-items: center;
} */

/* top-banner */
/* #top-banner-container>div {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
} */

#top-banner {
    height: 40px;
    margin-right: -20px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#top-banner>li {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid black;
}

#top-banner>li:first-child {
    border-left: none;
}

#mail,
#tel {
    display: flex;
}

#mail svg,
#tel svg {
    margin-right: 4px;
}

#redes-banner>ul {
    width: 90px;
}

/* fin top-banner */

/* title-bar */
#title-bar-container {
    background-color: white;
    /* box-shadow: 0px 0px 10px #0000008f; */
}

/* #title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#logo {
    display: flex;
    align-items: center;
    justify-content: start;
}

#title-bar #logo-graf {
    width: 100px;
}

#title-bar #logo-texto {
    width: 227px;
    margin-left: 20px;
    margin-right: 80px;
}

@media (max-width: 768px) {
    #title-bar #logo-graf {
        width: 60px;
    }

    #title-bar #logo-texto {
        width: 150px;
        margin-right: 20px;
    }
}

#logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-nav-bar {
    flex: 0 1 550px;
}

#main-nav-bar>ul {
    margin-left: -6px;
    margin-right: -6px;
}

#main-nav-bar>ul>li {
    margin: 0 6px;
}

#main-nav-bar span {
    display: block;
    padding: 22px 0 18px 0;
}

#main-nav-bar span::after {
    display: block;
    margin-top: 3px;
    content: "";
    height: 1px;
    background-color: rgb(139, 139, 236);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}

#main-nav-bar span:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

#menu-button {
    display: none;
}

@media (max-width: 992px) {
    #menu-button {
        display: block;
    }

    #logo-menu {
        width: 100%;
    }

    #title-bar {
        flex-direction: column;
    }

    #main-nav-bar {
        position: relative;
        flex: auto;
        width: 100%;
        overflow: hidden;

        /* a 220px por JS*/
        height: 0;
        transition: height 0.5s ease-in-out;
    }

    #main-nav-bar>ul {
        box-sizing: border-box;
        border-top: 1px solid black;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 220px;
        bottom: 0;
    }

    #main-nav-bar span {
        padding: 10px 0;
    }
}

@media (max-width: 768px) {

    #mail>span,
    #tel>span {
        display: none;
    }

    #top-banner {
        justify-content: center;
    }

    #top-banner>li {
        border-style: none;
        padding: 0;
    }

    #top-banner svg {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    #redes-banner>ul {
        width: auto;
    }
}
/* fin title-bar */

/* search-bar */
#search-bar {
    background-image: url("../img/img-countryview.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#search-prompt {
    padding: 30px 0;
    margin: 0 auto;
    width: fit-content;
    font-size: calc(18px + 2vw);
    color: black;
}

#search-nav-bar,
#search-form {
    padding: 30px 0;
    margin: 0 auto;
    width: fit-content;
}

#search-nav-bar {
    padding-bottom: 10px;
}

#search-form {
    padding-top: 10px;
}

#search-nav-bar>ul button {
    padding: 20px;
    margin: 0 8px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
}

#search-nav-bar>ul button:hover {
    background-color: rgb(139, 139, 236);
}

#search-form>div {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
}

#search-form>div>select,
#search-form>div>input {
    padding: 15px;
    margin: 0 8px;
    border-style: none;
    background-color: white;
    border-radius: 5px;
}

#search-form>div>select {
    margin-left: 0;
}

#search-form>div>input[type="submit"] {
    margin-right: 0;
    background-color: rgb(139, 139, 236);
}

#search-form>div>input[type="submit"]:hover {
    background-color: rgb(167, 167, 235);
}

@media (max-width: 768px) {
    #search-nav-bar {
        display: none;
    }
}

@media (max-width: 572px) {
    #search-form>div {
        flex-direction: column;
    }

    #search-form>div>select {
        display: none;
    }

    #search-form>div>input[type="text"] {
        margin-bottom: 20px;
    }

}
/* fin search bar */

/* Estilos de botón */
button:hover{
    cursor:pointer;
}

/* Fin Estilos de botón */

/* Sección búsqueda por categorías */
#container-categorias, #container-ofertas {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#categorias-bar, #ofertas-bar {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}

#categorias-bar>li, #ofertas-bar>li {
    flex: 0 1 auto;
}

#categorias-bar, #ofertas-bar img {
    max-width: 100%;
}

@media (max-width: 992px) {
    #container-categoria, #container-ofertas {
        max-width: 900px;
    }

    #categorias-bar, #ofertas-bar {
        flex-wrap: wrap;
    }
}
/* fin Sección búsqueda por categorías */

/* footer */
#footer-container-s1 {
    background-color: rgb(233, 221, 236);
}


#footer-container-s2 {
    background-color: rgb(180, 156, 185);
}

#footer-s1 {
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#nosotros {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#footer-s1 #logo-graf {
    width: 60px;
    flex: 0 1 auto;
}

#footer-s1 #logo-texto {
    width: 136px;
    ;
    flex: 0 1 auto;
    margin-left: 12px;
}

#footer-s1>#nosotros>p {
    font-size: 0.9rem;
}

#redes-footer {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}

#redes-footer svg {
    display: block;
}

.footer-title {
    font-size: 1.5rem;
}

.footer-title::after {
    content: "";
    margin: 4px 0 20px 0;
    display: block;
    height: 1px;
    background-color: black;
}

#contacto {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#footer-s2 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#footer-s2 h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
}
/* fin footer */

/* Estilos de botón Whatsapp */
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

/* Fin Estilos de botón Whatsapp */