#filtros h4 {
    font-size: 0.9rem;
}

/* #prop-title {
    height: 80px;
} */

#prop-filtros-title h2 {
    font-size: 1.3rem;
}

#prop-filtros h4 {
    font-size: 0.9rem;
}

#prop-filtros li {
    font-size: 0.85rem;
}

#prop-title h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}